@page "/quiz"

<h2>Question @_currentQuestionNumber of @_numQuestions. Your score: @_pointsScored points</h2>

<p class="question">@(_currentQuestionText ?? "Getting question...")</p>

<EditForm Model="@this" OnValidSubmit="@SubmitAnswerAsync" OnInvalidSubmit="@(() => _answerInput.FocusAsync())">
    <textarea @ref="@_answerInput" @bind="@UserAnswer" placeholder="Type your answer..." disabled="@DisableForm"></textarea>
    <p><button type="submit" class="btn btn-primary" disabled="@DisableForm">Submit</button></p>

    <DataAnnotationsValidator />
    <ValidationMessage For="@(() => UserAnswer)" />
</EditForm>

@if (!string.IsNullOrEmpty(_currentQuestionOutcome))
{
    <h3>@_currentQuestionOutcome</h3>

    @if (_currentQuestionNumber < _numQuestions)
    {
        <button class="btn btn-primary" @onclick="@MoveToNextQuestionAsync">Next question</button>
    }
    else
    {
        <h3>That's all for the quiz. You got @_pointsScored out of  @_numQuestions possible points.</h3>
        <p><a class="btn btn-primary" href="">Home</a></p>
    }
}
